<div id="wrapper"> 
 
        <!-- Navigation --> 
        <nav class="main-nav navbar navbar-inverse navbar-fixed-top" role="navigation"> 
            <!-- Brand and toggle get grouped for better mobile display --> 
            <div class="navbar-header"> 
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> 
                    <span class="sr-only">Toggle navigation</span> 
                    <span class="icon-bar"></span> 
                    <span class="icon-bar"></span> 
                    <span class="icon-bar"></span> 
                </button> 
                <a class="navbar-brand" ui-sref="home">KORPOPLAN</a> 
            </div> 
            <!-- Top Menu Items --> 
            <ul class="nav navbar-right top-nav"> 
                <li class="dropdown"> 
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> John Doe <b class="caret"></b></a> 
                    <ul class="dropdown-menu"> 
                        <li> 
                            <a ui-sref="login"><i class="glyphicon glyphicon-off"></i> Wyloguj</a> 
                        </li> 
                    </ul> 
                </li> 
            </ul> 
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens --> 
            <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar"> 
                <ul class="nav navbar-nav side-nav" id="sidebar_list"> 
                    <li> 
                        <a ui-sref="home"><i class="glyphicon glyphicon-home"></i> Strona główna</a> 
                    </li> 
                    <li> 
                        <a href="javascript:;" data-toggle="collapse" data-target="#grafik"><i class="glyphicon glyphicon-calendar"></i> Grafik <i class="caret"></i></a> 
                        <ul id="grafik" class="collapse"> 
                            <li> 
                                <a ui-sref="calendar">Kalendarz</a> 
                            </li>
                            <li>
                                <a ui-sref="add_schedule">Ustal grafik</a>
                            </li>                             
                            <li> 
                                <a ui-sref="edit_schedule">Edytuj grafik</a> 
                            </li> 
                            <li> 
                                <a ui-sref="submit_schedule">Zatwierdź grafik</a> 
                            </li> 
                        </ul> 
                    </li> 
                    <li> 
                        <a href="javascript:;" data-toggle="collapse" data-target="#wydarzenia"><i class="glyphicon glyphicon-bell"></i> Wydarzenia <i class="caret"></i></a> 
                        <ul id="wydarzenia" class="collapse"> 
                            <li> 
                                <a ui-sref="events">Aktualne wydarzenia</a> 
                            </li> 
                            <li> 
                                <a ui-sref="add_event">Dodaj wydarzenie</a> 
                            </li> 
                        </ul> 
                    </li> 
                    <li class="active"> 
                        <a href="javascript:;" data-toggle="collapse" data-target="#formularze"><i class="glyphicon glyphicon-edit"></i> Formularze <i class="caret"></i></a> 
                        <ul id="formularze" class="collapse">
                            <li>
                                <a ui-sref="my_forms">Moje formularze</a>
                            </li> 
                            <li> 
                                <a ui-sref="holiday_form">Urlop</a> 
                            </li> 
                            <li> 
                                <a ui-sref="sick_leave_form">Urlop zdrowotny</a> 
                            </li> 
                            <li> 
                                <a ui-sref="homeoffice_form">Praca zdalna</a> 
                            </li> 
                            <li> 
                                <a ui-sref="business_trip_form">Delegacja</a> 
                            </li> 
                            <li> 
                            <a ui-sref="forms">Przeglądaj formularze</a> 
                            </li> 
                        </ul> 
                    </li> 
                    <li> 
                        <a href="javascript:;" data-toggle="collapse" data-target="#pracownicy"><i class="glyphicon glyphicon-user"></i> Pracownicy <i class="caret"></i></a> 
                        <ul id="pracownicy" class="collapse"> 
                            <li> 
                                <a ui-sref="add_employee">Dodaj profil pracownika</a> 
                            </li> 
                            <li> 
                                <a ui-sref="update_employee">Aktualizuj profil</a> 
                            </li>                                                
                        </ul> 
                   </li> 
                </ul> 
            </div> 
            <!-- /.navbar-collapse --> 
        </nav> 
 
        <div id="page-wrapper"> 
 
            <div class="container-fluid"> 
 
                <!-- Page Heading --> 
                <div class="row"> 
                    <div class="col-lg-12"> 
                        <ol class="breadcrumb"> 
                            <li> 
                                <i class="glyphicon glyphicon-home"></i> <a ui-sref="home">Home</a> 
                            </li> 
                            <li class="active"> 
                                <i class="glyphicon glyphicon-edit"></i> Formularze 
                            </li> 
                        </ol> 
                    </div> 
                </div> 
                <!-- /.row --> 
 
                <div class="row" ng-controller="formsCtrl"> 
                    <div class="btn-group btn-group-justified col-sm-12"> 
                        <div class="btn-group"> 
                            <button class="btn btn-default" type="button" ng-click="showWaiting()">Oczekujące</button> 
                        </div> 
                        <div class="btn-group"> 
                            <button class="btn btn-default" type="button" ng-click="showRejected()">Odrzucone</button> 
                        </div> 
                        <div class="btn-group"> 
                            <button class="btn btn-default" type="button" ng-click="showAccepted()">Zaakceptowane</button> 
                        </div>                                  
                    </div>     
                </div> 
                <!-- /.row --> 
                <br />            
                <div class="row" id="waiting_forms"> 
                    <div class="col-lg-12 list-group" ng-controller="formsCtrl"> 
                        <div ng-repeat="form in waiting_forms" class="contentList list-group-item"> 
                            <h4 class="list-group-item-heading">{{form.newName}}</h4> 
                            <p class="list-group-item-text">{{"Data utworzenia: "+form.created_at.substr(0,10)}}</p>
                            <p class="list-group-item-text">{{"ID pracownika: "+form.employee_id}}</p>
                            <details id="details" ng-open="open">
                                <summary>Więcej...</summary>
                                    <p class="list-group-item-text">{{"Data od: "+form.start_date.substr(0,10)}}</p>
                                    <p class="list-group-item-text">{{"Data do: "+form.end_date.substr(0,10)}}</p>
                                    <p class="list-group-item-text">{{form.careType}}</p>
                                    <p class="list-group-item-text">{{form.holidayType}}</p>
                                    <p class="list-group-item-text">{{form.commentPrint}}</p>
                                    <p class="list-group-item-text">{{form.companyPrint}}</p>
                                    <p class="list-group-item-text">{{form.transportPrint}}</p>                                    
                                    <div class="row">
                                    <br/>
                                        <div class="col-lg-6">
                                            <button type="button" ng-click="acceptBtn()" class="btn btn-default" >Zaakceptuj</button>
                                            <button type="button" ng-click="rejectBtn()" class="btn btn-default" >Odrzuć</button>
                                            <button type="button" ng-click="deleteBtn()" class="btn btn-default hr_only" >Usuń formularz</button>
                                        </div>
                                    </div>
                            </details>
                        </div>                        
                    </div> 
                </div> 
            
                <div class="row" id="rejected_forms"> 
                    <div class="col-lg-12 list-group" ng-controller="formsCtrl"> 
                        <div ng-repeat="form in rejected_forms" class="contentList list-group-item"> 
                            <h4 class="list-group-item-heading">{{form.newName}}</h4> 
                            <p class="list-group-item-text">{{"Data utworzenia: "+form.created_at.substr(0,10)}}</p>
                            <p class="list-group-item-text">{{"ID pracownika: "+form.employee_id}}</p>
                            <details id="details" ng-open="open">
                                <summary>Więcej...</summary>
                                    <p class="list-group-item-text">{{"Data od: "+form.start_date.substr(0,10)}}</p>
                                    <p class="list-group-item-text">{{"Data do: "+form.end_date.substr(0,10)}}</p>
                                    <p class="list-group-item-text">{{form.careType}}</p>
                                    <p class="list-group-item-text">{{form.holidayType}}</p>
                                    <p class="list-group-item-text">{{form.commentPrint}}</p>
                                    <p class="list-group-item-text">{{form.companyPrint}}</p>
                                    <p class="list-group-item-text">{{form.transportPrint}}</p>
                                    <br/>                                    
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <button type="button" ng-click="acceptBtn()" class="btn btn-default" >Zaakceptuj</button>
                                            <button type="button" ng-click="rejectBtn()" class="btn btn-default" >Odrzuć</button>
                                            <button type="button" ng-click="deleteBtn()" class="btn btn-default hr_only" >Usuń formularz</button>
                                        </div>
                                    </div>
                            </details>
                        </div> 
                    </div> 
                </div> 
 
                 <div class="row" id="accepted_forms"> 
                    <div class="col-lg-12 list-group" ng-controller="formsCtrl"> 
                        <div ng-repeat="form in accepted_forms" class="contentList list-group-item"> 
                            <h4 class="list-group-item-heading">{{form.newName}}</h4> 
                            <p class="list-group-item-text">{{"Data utworzenia: "+form.created_at.substr(0,10)}}</p>
                            <p class="list-group-item-text">{{"ID pracownika: "+form.employee_id}}</p>
                            <details id="details" ng-open="open">
                                <summary>Więcej...</summary>
                                    <p class="list-group-item-text">{{"Data od: "+form.start_date.substr(0,10)}}</p>
                                    <p class="list-group-item-text">{{"Data do: "+form.end_date.substr(0,10)}}</p>
                                    <p class="list-group-item-text">{{form.careType}}</p>
                                    <p class="list-group-item-text">{{form.holidayType}}</p>
                                    <p class="list-group-item-text">{{form.commentPrint}}</p>
                                    <p class="list-group-item-text">{{form.companyPrint}}</p>
                                    <p class="list-group-item-text">{{form.transportPrint}}</p>
                                    <br/>                                                                       
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <button type="button" ng-click="acceptBtn()" class="btn btn-default" >Zaakceptuj</button>
                                            <button type="button" ng-click="rejectBtn()" class="btn btn-default" >Odrzuć</button>
                                            <button type="button" ng-click="deleteBtn()" class="btn btn-default" >Usuń formularz</button>
                                        </div>
                                    </div>
                            </details>
                        </div> 
                    </div> 
                </div>  
            </div> 
            <!-- /.container-fluid --> 
 
        </div> 
        <!-- /#page-wrapper --> 
 
    </div> 
    <!-- /#wrapper --> 
 