
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="main-nav navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="home.html">KORPOPLAN</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> John Doe <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="login.html"><i class="glyphicon glyphicon-off"></i> Wyloguj</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar">
                <ul class="nav navbar-nav side-nav" id="sidebar_list">
                    <li class="active">
                        <a href="home.html"><i class="glyphicon glyphicon-home"></i> Strona główna</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#grafik"><i class="glyphicon glyphicon-calendar"></i> Grafik <i class="caret"></i></a>
                        <ul id="grafik" class="collapse">
                            <li>
                                <a href="schedule/calendar.html">Kalendarz</a>
                            </li>
                            <li>
                                <a href="schedule/schedule_preference.html">Ustal preferencje</a>
                            </li>
                            <li>
                                <a href="#">Edytuj grafik</a>
                            </li>
                            <li>
                                <a href="schedule/submit_schedule.html">Zatwierdź grafik</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#wydarzenia"><i class="glyphicon glyphicon-bell"></i> Wydarzenia <i class="caret"></i></a>
                        <ul id="wydarzenia" class="collapse">
                            <li>
                                <a href="events/events.html">Aktualne wydarzenia</a>
                            </li>
                            <li>
                                <a href="events/add_event.html">Dodaj wydarzenie</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#formularze"><i class="glyphicon glyphicon-edit"></i> Formularze <i class="caret"></i></a>
                        <ul id="formularze" class="collapse">
                            <li>
                                <a href="forms/holiday_form.html">Urlop</a>
                            </li>
                            <li>
                                <a href="forms/sick_leave_form.html">Urlop zdrowotny</a>
                            </li>
                            <li>
                                <a href="forms/homeoffice_form.html">Praca zdalna</a>
                            </li>
                            <li>
                                <a href="forms/business_trip_form.html">Delegacja</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="glyphicon glyphicon-home"></i> Home
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-4 col-lg-offset-1">
                        <img src="no_user.png" id="empPhoto" alt="employee photo" class="img-rounded img-responsive"/>
                    </div>
                    <div class="row hidden-lg">
                        <div class="col-xs-12">
                            <br />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="glyphicon glyphicon-user"></i> Dane pracownika</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <tr>
                                            <th>Imię</th>
                                            <td>John</td>
                                        </tr>
                                        <tr>
                                            <th>Nazwisko</th>
                                            <td>Doe</td>
                                        </tr>
                                        <tr>
                                            <th>ID</th>
                                            <td>1234567</td>
                                        </tr>
                                        <tr>
                                            <th>e-mail</th>
                                            <td>johnDoe@korpoplan.com</td>
                                        </tr>
                                        <tr>
                                            <th>Stanowisko</th>
                                            <td>HR</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="text-right">
                                    <a href="edit_profile.html">Edytuj dane <i class="glyphicon glyphicon-circle-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->




