<div id="wrapper">

    <!-- Navigation -->
    <nav class="main-nav navbar navbar-inverse navbar-fixed-top" role="navigation" id="topNav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" id="toggle" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">KORPOPLAN</a>
        </div>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar" ng-controller="profileCtrl">
            <ul class="nav navbar-nav side-nav" id="sidebar_list">
                <li class="active">
                    <a ui-sref="home"><i class="glyphicon glyphicon-home"></i> Strona główna</a>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#grafik"><i class="glyphicon glyphicon-calendar"></i> Grafik <i class="caret"></i></a>
                    <ul id="grafik" class="collapse">
                        <li>
                            <a ui-sref="calendar">Kalendarz</a>
                        </li>
                        <li ng-show="user.details.position == 'hr'">
                            <a ui-sref="add_schedule">Ustal grafik</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#wydarzenia"><i class="glyphicon glyphicon-bell"></i> Wydarzenia <i class="caret"></i></a>
                    <ul id="wydarzenia" class="collapse">
                        <li>
                            <a ui-sref="my_events">Moje wydarzenia</a>
                        </li>
                        <li>
                            <a ui-sref="events">Aktualne wydarzenia</a>
                        </li>
                        <li ng-show="user.details.position == 'hr'">
                            <a ui-sref="add_event">Dodaj wydarzenie</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#formularze"><i class="glyphicon glyphicon-edit"></i> Formularze <i class="caret"></i></a>
                    <ul id="formularze" class="collapse">
                        <li>
                            <a ui-sref="my_forms">Moje formularze</a>
                        </li>
                        <li>
                            <a ui-sref="holiday_form">Urlop</a>
                        </li>
                        <li>
                            <a ui-sref="sick_leave_form">Urlop zdrowotny</a>
                        </li>
                        <li>
                            <a ui-sref="homeoffice_form">Praca zdalna</a>
                        </li>
                        <li>
                            <a ui-sref="business_trip_form">Delegacja</a>
                        </li>
                        <li>
                            <a ui-sref="forms" ng-show="user.details.position == 'hr'">Lista formularzy</a>
                        </li>
                        
                    </ul>
                </li>
                 <li ng-show="user.details.position == 'hr'">
                    <a href="javascript:;" data-toggle="collapse" data-target="#pracownicy"><i class="glyphicon glyphicon-user"></i> Pracownicy <i class="caret"></i></a>
                    <ul id="pracownicy" class="collapse">
                        <li>
                            <a ui-sref="add_employee">Dodaj profil pracownika</a>
                        </li>
                        <li>
                            <a ui-sref="update_employee">Aktualizuj profil</a>
                        </li>                                               
                    </ul>
                </li>
                 <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#oferty"><i class="glyphicon glyphicon-briefcase"></i> Oferty pracy <i class="caret"></i></a>
                    <ul id="oferty" class="collapse">
                        <li>
                            <a ui-sref="offers">Oferty</a>
                        </li>
                        <li ng-show="user.details.position == 'hr'">
                            <a ui-sref="add_offer">Dodaj ofertę</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

        <div ui-view class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="glyphicon glyphicon-home"></i> Home
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="glyphicon glyphicon-user"></i> Dane pracownika</h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table ng-controller="profileCtrl" class="table table-bordered table-hover">
                                    <tr>
                                        <th>Imię</th>
                                        <td>{{user.details.name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Nazwisko</th>
                                        <td>{{user.details.surname}}</td>
                                    </tr>
                                    <tr>
                                        <th>ID</th>
                                        <td>{{user.employee_id}}</td>
                                    </tr>
                                    <tr>
                                        <th>Telefon</th>
                                        <td>{{user.details.phone_number}}</td>
                                    </tr>
                                    <tr>
                                        <th>e-mail</th>
                                        <td>{{user.email}}</td>
                                    </tr>
                                    <tr>
                                        <th>Stanowisko</th>
                                        <td>{{user.details.position}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="text-right">
                                <a ui-sref="edit_profile">Edytuj dane <i class="glyphicon glyphicon-circle-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->




