
<div id="wrapper-log">

    <!-- Navigation -->
    <nav class="main-nav navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand -->
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="login">KORPOPLAN</a>
        </div>    
    </nav>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row" >
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="glyphicon glyphicon-user"></i> Logowanie
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-xs-10 col-xs-push-1" id="login_form">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-xs-2" for="email">Email:</label>
                            <div class="col-xs-10">
                                <input type="email" class="form-control" id="email" placeholder="Wprowadź email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2" for="pwd">Hasło:</label>
                            <div class="col-xs-10">          
                                <input type="password" class="form-control" id="pwd" placeholder="Wprowadź hasło">
                            </div>
                        </div>
                        <div class="form-group">        
                            <div class="col-xs-offset-2 col-xs-10">
                                <div class="checkbox">
                                <label><input type="checkbox"> Zapamiętaj</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">        
                            <div class="col-xs-offset-2 col-xs-10">
                                <button type="submit" class="btn btn-default">Zaloguj</button>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-xs-offset-2 col-xs-10">
                            <a href="#">Zarejestruj się</a><br />
                            <a href="#">Zapomniałeś hasła?</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4" id="offers_content">
                    <a href="#" role="button" class="offers_btn btn btn-block btn-lg">Przeglądaj oferty pracy</a>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper-log -->
