.submit_btn {
    background-color: #173e43;
    border-color: #173e43;
    color: #fff;
    font-weight: bold;
}

.submit_btn:hover, .submit_btn:focus, .submit_btn:disabled:hover {
    background-color: #3fb0ac;
    border-color: #3fb0ac;
    color: #fff;
    box-shadow: 0 0 15px #173e43;
}