<div id="wrapper">

    <!-- Navigation -->
    <nav class="main-nav navbar navbar-inverse navbar-fixed-top" role="navigation" id="topNav" ng-controller="profileCtrl">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" id="toggle" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">KORPOPLAN</a>
        </div>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar" ng-controller="profileCtrl">
            <ul class="nav navbar-nav side-nav" id="sidebar_list">
                <li>
                    <a ui-sref="home"><i class="glyphicon glyphicon-home"></i> Strona główna</a>
                </li>
                <li class="active">
                    <a href="javascript:;" data-toggle="collapse" data-target="#grafik"><i class="glyphicon glyphicon-calendar"></i> Grafik <i class="caret"></i></a>
                    <ul id="grafik" class="collapse">
                        <li>
                            <a ui-sref="calendar">Kalendarz</a>
                        </li>
                        <li ng-show="user.details.position == 'hr'">
                            <a ui-sref="add_schedule">Ustal grafik</a>
                        </li>
                        <li ng-show="user.details.position == 'hr'">
                            <a ui-sref="edit_schedule">Edytuj grafik</a>
                        </li>
                        
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#wydarzenia"><i class="glyphicon glyphicon-bell"></i> Wydarzenia <i class="caret"></i></a>
                    <ul id="wydarzenia" class="collapse">
                        <li>
                            <a ui-sref="my_events">Moje wydarzenia</a>
                        </li>
                        <li>
                            <a ui-sref="events">Aktualne wydarzenia</a>
                        </li>
                        <li ng-show="user.details.position == 'hr'">
                            <a ui-sref="add_event">Dodaj wydarzenie</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#formularze"><i class="glyphicon glyphicon-edit"></i> Formularze <i class="caret"></i></a>
                    <ul id="formularze" class="collapse">
                        <li>
                        <a ui-sref="my_forms">Moje formularze</a>
                        </li>
                        <li>
                            <a ui-sref="holiday_form">Urlop</a>
                        </li>
                        <li>
                            <a ui-sref="sick_leave_form">Urlop zdrowotny</a>
                        </li>
                        <li>
                            <a ui-sref="homeoffice_form">Praca zdalna</a>
                        </li>
                        <li>
                            <a ui-sref="business_trip_form">Delegacja</a>
                        </li>
                        <li ng-show="user.details.position == 'hr'">
                        <a ui-sref="forms">Lista formularzy</a>
                        </li>
                    </ul>
                </li>
                <li ng-show="user.details.position == 'hr'">
                    <a href="javascript:;" data-toggle="collapse" data-target="#pracownicy"><i class="glyphicon glyphicon-user"></i> Pracownicy <i class="caret"></i></a>
                    <ul id="pracownicy" class="collapse">
                        <li>
                            <a ui-sref="add_employee">Dodaj profil pracownika</a>
                        </li>
                        <li>
                            <a ui-sref="update_employee">Aktualizuj profil</a>
                        </li>                                               
                    </ul>
                </li>
                 <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#oferty"><i class="glyphicon glyphicon-briefcase"></i> Oferty pracy <i class="caret"></i></a>
                    <ul id="oferty" class="collapse">
                        <li>
                            <a ui-sref="offers">Oferty</a>
                        </li>
                        <li ng-show="user.details.position == 'hr'">
                            <a ui-sref="add_offer">Dodaj ofertę</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li>
                            <i class="glyphicon glyphicon-home"></i>  <a ui-sref="home">Home</a>
                        </li>
                        <li class="active">
                            <i class="glyphicon glyphicon-calendar"></i> Grafik
                        </li>
                    </ol>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <form ng-submit="sendSchedule()" ng-controller="addScheduleCtrl">
                        <div class="row">
                            <div class="col-xs-10 col-sm-9 col-md-7 col-lg-6">
                                <div class="form-group">
                                    <h2>Ustal grafik</h2>
                                    <label for="employee">Pracownik:</label>
                                    <select id="employee" class="form-control" ng-model="selectedEmployeeId" required>       
                                        <option ng-repeat="employee in empListFilter" value="{{employee.user.id}}">{{'(ID: ' + employee.id + ') ' + employee.name + ' ' + employee.surname}}</option>                           
                                    </select>
                                </div>  
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><i class="glyphicon glyphicon-calendar"></i> Grafik tygodniowy</h3>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Dzień</th>
                                                    <th class="text-center">Data</th>
                                                    <th class="text-center">Od godziny</th>
                                                    <th class="text-center">Do godziny</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th class="text-center"><label for="monday">Poniedziałek</th>
                                                    <td class="text-center">
                                                        <div class="form-group">
                                                            <input type="date" id="monday" step="7" min="2017-01-02" class="form-control date_form" ng-model="monday.work_date" />
                                                        </div> 
                                                    </td>
                                                    <td class="text-center">
                                                        <div class="form-group">
                                                            <input type="time" class="form-control date_form" ng-model="monday.start_hour" />
                                                        </div> 
                                                    </td>
                                                    <td class="text-center">
                                                        <div class="form-group">
                                                            <input type="time" class="form-control date_form" ng-model="monday.end_hour" />
                                                        </div> 
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="text-center"><label for="tuesday">Wtorek</label></th>
                                                    <td class="text-center">
                                                        <div class="form-group">
                                                            <input type="date" id="tuesday" step="7" min="2017-01-03" class="form-control date_form" ng-model="tuesday.work_date" />
                                                        </div> 
                                                    </td>
                                                    <td class="text-center">
                                                        <div class="form-group">
                                                            <input type="time" class="form-control date_form" ng-model="tuesday.start_hour" />
                                                        </div> 
                                                    </td>
                                                    <td class="text-center">
                                                        <div class="form-group">
                                                            <input type="time" class="form-control date_form" ng-model="tuesday.end_hour" />
                                                        </div> 
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="text-center"><label for="wednesday">Środa</label></th>
                                                    <td class="text-center">
                                                        <div class="form-group">
                                                            <input type="date" id="wednesday" step="7" min="2017-01-04" class="form-control date_form" ng-model="wednesday.work_date" />
                                                        </div> 
                                                    </td>
                                                    <td class="text-center">
                                                        <div class="form-group">
                                                            <input type="time" class="form-control date_form" ng-model="wednesday.start_hour" />
                                                        </div> 
                                                    </td>
                                                    <td class="text-center">
                                                        <div class="form-group">
                                                            <input type="time" class="form-control date_form" ng-model="wednesday.end_hour" />
                                                        </div> 
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="text-center"><label for="thursday">Czwartek</label></th>
                                                    <td class="text-center">
                                                        <div class="form-group">
                                                            <input type="date" id="thursday" step="7" min="2017-01-05" class="form-control date_form" ng-model="thursday.work_date" />
                                                        </div> 
                                                    </td>
                                                    <td class="text-center">
                                                        <div class="form-group">
                                                            <input type="time" class="form-control date_form" ng-model="thursday.start_hour" />
                                                        </div> 
                                                    </td>
                                                    <td class="text-center">
                                                        <div class="form-group">
                                                            <input type="time" class="form-control date_form" ng-model="thursday.end_hour" />
                                                        </div> 
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="text-center"><label for="friday">Piątek</label></th>
                                                    <td class="text-center">
                                                        <div class="form-group">
                                                            <input type="date" id="friday" step="7" min="2017-01-06" class="form-control date_form" ng-model="friday.work_date" />
                                                        </div> 
                                                    </td>
                                                    <td class="text-center">
                                                        <div class="form-group">
                                                            <input type="time" class="form-control date_form" ng-model="friday.start_hour" />
                                                        </div> 
                                                    </td>
                                                    <td class="text-center">
                                                        <div class="form-group">
                                                            <input type="time" class="form-control date_form" ng-model="friday.end_hour" />
                                                        </div> 
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="text-center"><label for="saturday">Sobota</label></th>
                                                    <td class="text-center">
                                                        <div class="form-group">
                                                            <input type="date" id="saturday" step="7" min="2017-01-07" class="form-control date_form" ng-model="saturday.work_date" />
                                                        </div> 
                                                    </td>
                                                    <td class="text-center">
                                                        <div class="form-group">
                                                            <input type="time" class="form-control date_form" ng-model="saturday.start_hour" />
                                                        </div> 
                                                    </td>
                                                    <td class="text-center">
                                                        <div class="form-group">
                                                            <input type="time" class="form-control date_form" ng-model="saturday.end_hour" />
                                                        </div> 
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="text-center"><label for="sunday">Niedziela</label></th>
                                                    <td class="text-center">
                                                        <div class="form-group">
                                                            <input type="date" id="sunday" step="7" min="2017-01-08" class="form-control date_form" ng-model="sunday.work_date" />
                                                        </div> 
                                                    </td>
                                                    <td class="text-center">
                                                        <div class="form-group">
                                                            <input type="time" class="form-control date_form" ng-model="sunday.start_hour" />
                                                        </div> 
                                                    </td>
                                                    <td class="text-center">
                                                        <div class="form-group">
                                                            <input type="time" class="form-control date_form" ng-model="sunday.end_hour" />
                                                        </div> 
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>     
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="col-lg-5 col-lg-offset-3">
                            <button type="submit" ng-disabled="selectedEmployeeId == null" class="btn btn-default btn-block submit_btn">Zatwierdź</button>
                        </div>                                       
                    </form>                        
                </div>
            </div>
            <!-- /.row -->
            <br /><br />


            <div class="modal fade" id="submitModal" tabindex="-1" role="dialog"> 
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                            <h4 class="modal-title">Ustalanie tygodniowego terminarza</h4>
                        </div>
                        <div class="modal-body">
                            <p>Terminarz został przesłany pomyślnie  ( ͡° ͜ʖ ͡°)</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="errorModal" tabindex="-1" role="dialog"> 
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                            <h4 class="modal-title">Ustalanie tygodniowego terminarza</h4>
                        </div>
                        <div class="modal-body">
                            <p>Wystąpił błąd. Spóbuj ponownie ( ͡° ͜ʖ ͡°)</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="hintModal" tabindex="-1" role="dialog"> 
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                            <h4 class="modal-title">Ustalanie tygodniowego terminarza</h4>
                        </div>
                        <div class="modal-body">
                            <p>Nie wybrano żadnego dnia. ( ͡° ͜ʖ ͡°)</p>
                            <p>W celu ustalenia terminarza wybierz pracownika, a następnie określ godziny pracy dla przynajmniej jednego dnia. ( ͡° ͜ʖ ͡°)</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
        <!-- /.container-fluid -->   

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->