    <div id="wrapper">

        <!-- Navigation -->
        <nav class="main-nav navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="home">KORPOPLAN</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> John Doe <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ui-sref="login"><i class="glyphicon glyphicon-off"></i> Wyloguj</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar">
                <ul class="nav navbar-nav side-nav" id="sidebar_list">
                    <li>
                        <a ui-sref="home"><i class="glyphicon glyphicon-home"></i> Strona główna</a>
                    </li>
                    <li class="active">
                        <a href="javascript:;" data-toggle="collapse" data-target="#grafik"><i class="glyphicon glyphicon-calendar"></i> Grafik <i class="caret"></i></a>
                        <ul id="grafik" class="collapse">
                            <li>
                                <a ui-sref="calendar">Kalendarz</a>
                            </li>
                            <li>
                                <a ui-sref="schedule_preference">Ustal preferencje</a>
                            </li>
                            <li>
                                <a ui-sref="edit_schedule">Edytuj grafik</a>
                            </li>
                            <li>
                                <a ui-sref="submit_schedule">Zatwierdź grafik</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#wydarzenia"><i class="glyphicon glyphicon-bell"></i> Wydarzenia <i class="caret"></i></a>
                        <ul id="wydarzenia" class="collapse">
                            <li>
                                <a ui-sref="events">Aktualne wydarzenia</a>
                            </li>
                            <li>
                                <a ui-sref="add_event">Dodaj wydarzenie</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#formularze"><i class="glyphicon glyphicon-edit"></i> Formularze <i class="caret"></i></a>
                        <ul id="formularze" class="collapse">
                            <li>
                                <a ui-sref="holiday_form">Urlop</a>
                            </li>
                            <li>
                                <a ui-sref="sick_leave_form">Urlop zdrowotny</a>
                            </li>
                            <li>
                                <a ui-sref="homeoffice_form">Praca zdalna</a>
                            </li>
                            <li>
                                <a ui-sref="business_trip_form">Delegacja</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li>
                                <i class="glyphicon glyphicon-home"></i>  <a ui-sref="home">Home</a>
                            </li>
                            <li class="active">
                                <i class="glyphicon glyphicon-calendar"></i> Grafik
                            </li>
                        </ol>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-5">
                        <form ng-controller="editScheduleCtrl">
                            <div class="form-group">
                            <h2>Edytuj grafik</h2>
                                <label for="employee">Pracownik:</label>
                                <select id="employee" name="employee" class="form-control">                                    
                                    <option ng-repeat="option in editSchedule.employee" value="{{option.id}}">{{option.name}}</option>                            
                                </select>
                            </div>                                                   
                            <h4>Data</h4>
                            <div class="row">  
                                <div class="col-lg-5">
                                    <div class="form-group">
                                        <label for="date">Od:</label><br />                                
                                        <input type="date" class="form-control date_form" ng-model="editSchedule.start_date"/>
                                    </div>   
                                </div>                          
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="date">Do:</label><br />
                                        <input type="date" class="form-control date_form" ng-model="editSchedule.end_date"/>                                
                                    </div>
                                </div>
                            </div>

                            <h4>Czas</h4>
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="form-group">
                                        <label for="time">Od:</label><br />
                                        <input type="time" class="form-control time_form" ng-model="editSchedule.start_time"/>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="time">Do:</label><br />
                                        <input type="time" class="form-control time_form" ng-model="editSchedule.end_time"/>                             
                                    </div>
                                </div>
                            </div>
                                <br />
                            <div class="col-lg-5 col-lg-offset-3">
                                <button type="submit" class="btn btn-default btn-block">Zatwierdź</button>
                            </div>                                       
                        </form>
                    </div>
               </div>
               <!-- /.row -->

            </div>
            <!-- /.container-fluid -->   

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

